{% extends 'base.html' %}
{% load static %}
{% block title %}Отели{% endblock %}
{% block links %}
    <link href="{% static 'TripTuner/css/tours_countries.css' %}" rel="stylesheet">
    <link href="{% static 'TripTuner/css/hotel.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="news-header">
        <h1>Отели</h1>
    </div>
    <div class="hotel-list">
        {% for hotel in hotels %}
            <div class="hotel-card">
                <a href="{% url 'hotel_rooms' hotel.id %}">
                    <img src="{{ hotel.image.url }}" alt="{{ hotel.name }}">
                    <h2>{{ hotel.name }}</h2>
                    <p>{{ hotel.address }}, {{ hotel.city_id.name }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for p in page_obj.paginator.page_range %}
                {% if p == page_obj.number %}
                    <li class="page-item"><a class="page-link active" href="?page={{ p }}">{{ p }}</a></li>
                {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
